@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --negro-color:#191919;
    --blanco-color:#FFFFFF;
    --rojo-color:#a40101;
    --blue-color:#2ca3ab;
    --gray-color:#c4c4c4;
    --naranja-color:#f3610e;
    --dark-blue-color:#1d1b45;
}


*{
    box-sizing: border-box;
}

body{
    background-image: url(..//img/10.png);
    font-family:'Poppins', sans-serif; 
    font-size: 16px;
    width: 100%;
    height: 100%;
}


.boton-in{
    background-color: var(--naranja-color);
    color: white;
    border-color: var(--gray-color);
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    font-weight: 300;
}

.login {
    box-sizing: border-box;
}
.login{
    display: flex;
    flex-direction: column;
   text-align: center;
        position: relative;
        position: absolute;
        left: 35%;
        top: 25%;
        width: 350px;
        height: 600px;
        border-radius: 15px;
        margin: 0;

}

.logo{
    background-image: url(../img/nlogo.png);      
    background-repeat: no-repeat;
    background-color: #2ca3ab;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    width: 100%;
    height: 180px;
    padding: 3rem 5rem 3rem 5rem;
    border-radius:15px 15px 0px 0px;

}
.logo p{
    font-size: 16px;
    font-weight: 500;
    align-self: flex-end;
    justify-items: flex-end;
}


.formulario input{
    background-color:lightblue;
    border-radius: 15px;
    border-color: var(--blue-color);
}


.formulario{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    color: black;
    border-radius: 0px 0px 15px 15px;
    padding: 1rem 5rem 1rem 5rem;
    padding: 1rem;
    text-align: center;
    line-height: 30px;
}

.volver{
    background-color: #1d1b45;
    color: white;
    border-radius: 5px;
     border-color: var(--blue-color);
     font-size: 14px;
}

.boton-volver{
    display: flex;
    justify-content: right;
}

